<h1>Addbook</h1>
<form #from="ngForm" (ngSubmit)="onsubmit()">
<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="Title" #Title="ngModel" [(ngModel)]="data.title" placeholder="Enter Title">
</div>
<div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" name="Author" #Author="ngModel" [(ngModel)]="data.author" placeholder="Enter author">
</div>
<div class="mb-3">
    <label class="form-label">Title</label>
    <input type="number" class="form-control" name="Price" #Price="ngModel" [(ngModel)]="data.price" placeholder="Enter price">
</div>
<div class="mb-3">
<input type="submit" class="form-control">
</div>
</form>