<h1>Viewboooks</h1>
<table class="table table-bordered m-3">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr></thead>
    <tbody>
    <tr *ngFor="let i of data">
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.price}}</td>
        <td><button (click)="view(i.id)" class="btn btn-primary">View</button></td>
        <td><button (click)="edit(i.id)" class="btn btn-primary">Edit</button></td>
        <td><button (click)="delete(i.id)" class="btn btn-primary">Delete</button></td>
    </tr></tbody>
</table>
<!-- <ul *ngFor="let i of data">
    <li>ID :{{i.id}}</li>
    <li>TITLE :{{i.title}}</li>
    <li>AUTHOR :{{i.author}}</li>
    <li>PRICE :{{i.price}}</li>
</ul> -->